@{
    ViewBag.Title = "Contact";
}
<style type="text/css">
    div.body-content div, div.body-content, div {
        color: gray;
    }

    #body.home div div, #body.home div div:first-child {
        float: left;
    }

    .form-control {
        width: 250px;
        float: left;
    }

    .control-label {
        width: 150px;
        text-align: right;
        float: left;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var map;
        var geocoder;
        var poly= [];
        var lin ;
        // Draw a circle on map around center (radius in miles)
        // Modified by Jeremy Schneider based on https://maps.huge.info/dragcircle2.htm
        function drawCircle(map, center, radius, numPoints) {
            poly = [];
            var lat = parseFloat(center.lat);
            var lng = parseFloat(center.lng);
            var d2r = Math.PI / 180; // degrees to radians
            var r2d = 180 / Math.PI; // radians to degrees
            var Clat = (radius / 3963) * r2d; // using 3963 as earth's radius
            var Clng = Clat / Math.cos(lat * d2r);
            //Add each point in the circle
            for (var i = 0; i < numPoints; i++) {
                var theta = Math.PI * (i / (numPoints / 2));
                let Cx = lng + (Clng * Math.cos(theta));
                let Cy = lat + (Clat * Math.sin(theta));
                poly.push(new google.maps.LatLng('' + Cy, '' + Cx));
            }
            //Remove the old line if it exists
            if (line) {
                map.removeOverlay(line);
            }
            //Add the first point to complete the circle
            poly.push(poly[0]);
            //Create a line with teh points from poly, red, 3 pixels wide, 80% opaque
            line = new google.maps.Polyline(poly, '#FF0000', 3, 0.5);
            map.addOverlay(line);
        }

        function initialize() {
            geocoder = new google.maps.Geocoder();

            showAddress("London, St. Johns Terrace W10 4RB");
        }
        function showAddress(address) {
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status != google.maps.GeocoderStatus.OK) {
                    alert(address + " not found");
                }
                else {
                    var myOptions = {
                        zoom: 15,
                        center: results[0].geometry.location,
                        mapTypeControl: true,
                        mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
                        navigationControl: true,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    map = new google.maps.Map(document.getElementById("map"), myOptions);

                    map.setCenter(results[0].geometry.location);

                    var infowindow = new google.maps.InfoWindow(
                        {
                            content: '<b>' + address + '</b>',
                            size: new google.maps.Size(150, 50)
                        });
                    var address = "London, St. Johns Terrace W10 4RB";
                    var marker = new google.maps.Marker({
                        position: results[0].geometry.location,
                        map: map,
                        title: address
                    });
                    //drawCircle(map, results[0].geometry.location, 2.5, 40);

                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });
                }
            });
        }
        initialize();
    });
</script>
<div class="body-content" style="text-align:left !important;background-color: #F0F0F0;margin-top:40px !important; width:100% !important;">
    <div style="padding-left: 10px; margin-top: 20px !important;">
        @using (@Html.BeginForm("SubmitEmail", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                <label id="ContactUsDetails" style="width: 100%; margin-left: 0px; font-weight: bolder; font-size: Small; color: #AD0000;">Contact MartinLayooInc Software Solutions</label>
            </div>
            <div style="padding-top: 10px; width:100%;">
                <div style="text-align: center;float:left;margin-left:30px;">
                    <img src="/Images/brickWall.jpg" style="float:left;" />
                    <img src="/Images/ug-flag.gif" style="float:left;" />
                    <div style="clear:both;">
                        <br />
                    </div>
                </div>
                <div style="text-align: center;float:left;margin-left:30px;">
                    <img src="/Images/brickWall.jpg" style="float:left;" />
                    <img src="/Images/uk-flag.gif" style="float:left;" />

                    <div style="clear:both;">&nbsp;</div>
                </div>
                <div style="clear:both;">&nbsp;</div>
            </div>
            <div>
                <div style="padding-top: 10px; width:100% !important;">
                    <div style="padding-left:10px; width:65%;float:left;">
                        <div style="padding:15px; color:red;">
                            Please Note: You should be logged in to make contact, otherwise your email won't be sent
                        </div>
                        <div style="width: 100%;">
                            <input name="emailFrom" type="email" placeholder="your email address" style="font-weight: bold; width: 100%; color: #000040" /><br /><br />

                            <input name="emailTo" type="email" placeholder="to email addresses separated by commas" style="font-weight: bold; width: 100%; color: #000040" /><br /><br />

                            <input name="emailSubject" type="text" placeholder="subject" style="font-weight: bold; width: 100%;color: #000040;" /><br /><br />

                            <input type="file" name="attachment" value="Attach file" id="attachment" /><br /><br />
                        </div>
                        <div style="width: 98%;">
                            <textarea name="emailBody" id="MessageText" placeholder="Enter your post here" style="font-weight: bold;width:100%; height:50vh !important;color: #000040" autofocus></textarea>
                        </div>
                    </div>
                    <div id="ourContactDetails" class="oneRowRegButton1" style="min-width:34%;float:left; background-color: #AD0000;min-height: 250px;margin:5px; padding: 10px; border-radius: 5px;font-weight: bolder; font-size: large; color: black;text-align: center;">
                        MartinLayooInc Software House,<br />
                        Unit 3,<br />
                        2 St John's Terrace,<br />
                        London<br />
                        W10<br />
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div style="width:100%; margin-top:2%;">
                    <input type="submit" class="but-primary" value="Submit To Email" />
                    <div style="clear:both;">
                        <br />
                    </div>
                </div>
                <div id="map" style="min-height:380px;width:99%; padding-top: 10px; padding: 10px; z-index: 10000; position: relative;">
                </div>

                <div style="clear:both;">&nbsp;</div>
            </div>
        }
    </div>
</div>