@model IEnumerable<EntertainmentTicketMaster.Models.EventViewModel>

@{
    ViewBag.Title = "Events";
}

<style type="text/css">

    a {
        color: #ae6662;
    }

    div#eventsContent ul li p a img {
        border-bottom: 1px solid #4F4F4F;
    }

    div#eventsContent ul li p a img {
        border-top: 1px solid #4F4F4F;
    }

    div#eventsContent ul li p a img {
        border-right: 1px solid #4F4F4F;
    }

    div#eventsContent ul li p a img {
        border-left: 1px solid #4F4F4F;
    }

    div#eventsContent img {
        margin-top: 22%;
    }
</style>
@{
    var index = 1;
}

<div class="row" style="text-align:left !important; width:100%;">
    <h2>Shows Now Showing</h2>
    <div id="eventsContent" style="margin:10px 0px !important; width:100%;">
        @foreach (var evnt in Model)
        {
            <div style="border: gray solid 1px;" class="col-lg-4">
                <p style="text-align: center; ">
                    <a style="color: #ae6662;" href="@Url.Action("EventInfo","Tickets", new {@id = evnt.EventId})" onmouseover="this.style.color='orange';" onmouseout="this.style.color='#ae6662';">
                        @evnt.EventName<br />
                        <img class="alignVerticalImage" src="@Url.Content("~/images/Diamond"+index+".jpg")" />
                    </a>
                </p>
                <p>@evnt.EventDescription</p>
            </div>
            index++;
            if (index % 5 == 0)
            {
                index = 1;
            }
        }
    </div>
</div>
