
@{
    ViewBag.Title = "Blog";
}

<style type="text/css">
    div.body-content div {
        color: gray;
    }

    #body.home div div, #body.home div div:first-child {
        float: left;
        width:  100%;
    }
	div#layout{width:900px;}
	div.body-content{width:100%;}
	#body.home div div:first-child {border-right:none;}
</style>

<div class="body-content" style="text-align:left !important;">
    <div>
        <h2>Blog</h2>
        <h3>Feel Free, Blog And Share Via Discuss Engine Plus Share On Social Sites</h3>
        <p>
            MartinLayooInc Entertainment Master formerly known as Abalo Entertainment Master, was developed by Martin Alex Okello under &copy; MartinLayooInc Copyright. It is where tickets of all events around the UK are sold by many independent event handlers and dealers. You get the statistics, ticket user journeys to their destinations and most of all the ease of ordering and arranging orders of event tickets in once place. Reporting and Statistics of sales can be obtained too from this online vending machine so to say.
            Lets you rest in peace knowing yuour tickets will be sold altogether.
        </p>
        <h3>MartinLayooInc. Entertainment Ticketing, Blogs: find out about events and blog.</h3>
		<div id="disqus_thread" style="color: white; float: left; width: 96%;"></div>
		<script type="text/javascript">
			var disqus_developer = true; </script>
		<div id="disqus_thread" class="smallText" style="color: #305252; font-size: small;">
		</div>
		<script type="text/javascript" src="https://disqus.com/forums/martinlayooinc/embed.js"></script>
		<noscript>
			<a href="https://disqus.com/forums/martinlayooinc/?url=ref">View the discussion thread.</a>
		</noscript>
		<a href="https://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'abaloentertainment';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>